<div class="sidebar" [class.expanded]="isExpanded"
     (mouseenter)="expand()" (mouseleave)="collapse()">

  <!-- HEADER -->
  <div class="sidebar-header">
    <div class="logo-box">
      <img src="/default.png" alt="logo" />
    </div>
    <div class="header-text">
      <span class="title">Boutique</span>
      <small class="subtitle">Norca</small>
    </div>
  </div>

  <!-- BODY -->
  <div class="sidebar-body">
    <div class="menu-item" [class.active]="isActive('/home')" (click)="goTo('/home')">
      <div class="icon-box">
        <i class="fi fi-br-house-chimney-blank"></i>
      </div>
      <span class="label">Dashboard</span>
    </div>

    <div class="menu-item" [class.active]="isActive('/HomePrenda')" (click)="goTo('/HomePrenda')">
      <div class="icon-box">
        <i class="fi fi-bs-shirt-long-sleeve"></i>
      </div>
      <span class="label">Prendas</span>
    </div>

    <div class="menu-item" [class.active]="isActive('/HomeVenta')" (click)="goTo('/HomeVenta')">
      <div class="icon-box">
        <i class="fi fi-br-tags"></i>
      </div>
      <span class="label">Ventas</span>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="sidebar-footer" (click)="logout()">
    <div class="icon-box">
      <i class="fi fi-br-power"></i>
    </div>
    <span class="label">Cerrar Sesión</span>
  </div>

</div>
