.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background: #B83847;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 100;
  cursor: default;
  transition: width 0.4s ease;
}

.sidebar.expanded {
  width: 250px;
}

.sidebar-header {
  display: flex;
  background: #B83847;
  align-items: center;
  padding: 12px;
  border-bottom: 2px solid #F7E7E6;
}

.logo-box {
  width: 50px;
  height: 50px;
  background: #F7E7E6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.logo-box img {
  width: 45px;
  height: 45px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.sidebar.expanded .header-text {
  width: 120px;
}

.header-text .title {
  font-size: 20px;
  font-weight: 600;
  color: #F7E7E6;
}

.header-text .subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #F7E7E6;
}

.sidebar-body {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 12px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.menu-item .label,
.menu-item .icon-box i {
  transition: color 0.2s;
}

.menu-item:hover {
  background: #F7E7E6;
}

.menu-item:hover .label,
.menu-item:hover .icon-box i {
  color: #B83847;
}

.menu-item.active {
  background: #F7E7E6;
  cursor: default;
}

.menu-item.active .icon-box i,
.menu-item.active .label {
  color: #B83847;
  cursor: default;
}

.icon-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
}

.icon-box i {
  margin-top: 5px;
  color: #F7E7E6;
  font-size: 26px;
  line-height: 1;
}

.label {
  margin-left: 5px;
  white-space: nowrap;
  color: #F7E7E6;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.expanded .label {
  opacity: 1;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;

}

.sidebar-footer .label {
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.expanded .sidebar-footer .label {
  opacity: 1;
}
