<div class="modal-backdrop" [class.fade-out]="closing">

  <div class="modal-container" [class.modal-close]="closing" (click)="$event.stopPropagation()">
    <form [formGroup]="form">

    <!-- HEADER -->
      <div class="app-modal-header">

        <div class="app-modal-header-info">

          <div class="app-modal-header-icon">
            <i [class]="modoEdicion ? 'fi fi-rr-refresh' : 'fi fi-rr-add'"></i>
          </div>

          <div class="app-modal-header-text">
            <h2>{{ modoEdicion ? 'Editar Prenda' : 'Registrar Nueva Prenda' }}</h2>
            <p>
              {{ modoEdicion
              ? 'Modifica los datos y características de la prenda seleccionada'
              : 'Completa la información para agregar una nueva prenda al catálogo' }}
            </p>
          </div>

        </div>

        <div class="app-modal-header-actions">

          <div class="app-modal-badge">
            <i class="fi fi-rr-asterik"></i>
            <span>Campo Obligatorio</span>
          </div>

          <button
            type="button"
            class="app-modal-close-btn"
            (click)="cancelar()">

            <i class="fi fi-rr-cross-small"></i>

          </button>

        </div>

      </div>

    <!-- BODY -->
    <div class="modal-body">

      <div class="body-columns">

      <!-- IZQUIERDA -->
      <div class="left-column">

        <div class="section-card">
          <div class="section-content">

          <!-- Nombre -->
          <div class="form-group primero">

            <label>
              Nombre de Prenda
              <span class="required">
                <i class="fi fi-sr-asterik"></i>
              </span>
            </label>

            <div class="input-wrapper" [class.invalid]="submitted && form.get('nombre')?.invalid">
              <div class="input-icon"><i class="fi fi-rr-label"></i></div>
              <input type="text" formControlName="nombre" placeholder="Ej: Hoodie Urbano Classic">
            </div>

          </div>

          <!-- Categoría y Marca -->
          <div class="row-2">

            <div class="form-group">

              <label>
                Categoría
                <span class="required">
                  <i class="fi fi-sr-asterik"></i>
                </span>
              </label>

              <div class="custom-select" [class.invalid]="submitted && form.get('categoriaId')?.invalid" [class.active]="showCategoriaDropdown" (click)="toggleCategoriaDropdown($event)">

                <div class="select-display">

      <span class="selected-text" [class.placeholder]="!selectedCategoriaNombre">
        {{ selectedCategoriaNombre || 'Seleccionar categoría' }}
      </span>

                  <i class="fi fi-rr-angle-small-down" [class.rotate]="showCategoriaDropdown"></i>

                </div>

                <div
                  class="select-dropdown"
                  [class.open]="showCategoriaDropdown">

                  <div
                    class="select-option clear-option"
                    [class.active]="form.get('categoriaId')?.value === null"
                    (click)="selectCategoria(null,''); $event.stopPropagation()">

                    Ninguna

                  </div>

                  <div
                    *ngFor="let categoria of categorias"
                    class="select-option"
                    [class.active]="form.get('categoriaId')?.value === categoria.idCategoria"
                    (click)="selectCategoria(categoria.idCategoria,categoria.nombre); $event.stopPropagation()">

        <span>
          {{ categoria.nombre }}
        </span>

                    <i
                      *ngIf="form.get('categoriaId')?.value === categoria.idCategoria"
                      class="fi fi-rr-check">
                    </i>

                  </div>

                </div>

              </div>


            </div>

            <div class="form-group">

              <label>
                Marca
                <span class="required">
                  <i class="fi fi-sr-asterik"></i>
                </span>
              </label>

              <div class="custom-select" [class.invalid]="submitted && form.get('marcaId')?.invalid" [class.active]="showMarcaDropdown" (click)="toggleMarcaDropdown($event)">

                <div class="select-display">

      <span
        class="selected-text"
        [class.placeholder]="!selectedMarcaNombre">

        {{ selectedMarcaNombre || 'Seleccionar marca' }}

      </span>

                  <i
                    class="fi fi-rr-angle-small-down"
                    [class.rotate]="showMarcaDropdown">
                  </i>

                </div>

                <div
                  class="select-dropdown"
                  [class.open]="showMarcaDropdown">

                  <div
                    class="select-option clear-option"
                    [class.active]="form.get('marcaId')?.value === null"
                    (click)="selectMarca(null,''); $event.stopPropagation()">

                    Ninguna

                  </div>

                  <div
                    *ngFor="let marca of marcas"
                    class="select-option"
                    [class.active]="form.get('marcaId')?.value === marca.idMarca"
                    (click)="selectMarca(marca.idMarca,marca.nombre); $event.stopPropagation()">

        <span>
          {{ marca.nombre }}
        </span>

                    <i *ngIf="form.get('marcaId')?.value === marca.idMarca" class="fi fi-rr-check"></i>

                  </div>

                </div>

              </div>

            </div>
          </div>

          <!-- Material -->
          <div class="form-group">

            <label>
              Material
              <span class="required">
                <i class="fi fi-sr-asterik"></i>
              </span>
            </label>

            <div class="input-wrapper" [class.invalid]="submitted && form.get('material')?.invalid">
              <div class="input-icon"><i class="fi fi-rr-reel"></i></div>
              <input type="text" formControlName="material" placeholder="Ej: 100% Algodón, Denim Stretch...">
            </div>

          </div>

          <!-- Colores -->
          <div class="form-group">

            <label>Colores</label>

            <div class="colors-container"
                 [class.shift-right]="animAgregar"
                 [class.shift-left]="animEliminar">

              <div
                class="color-chip"
                *ngFor="let color of colores; let i = index; trackBy: trackByIndex">

                <span class="color-dot"></span>

                <input
                  type="text"
                  [(ngModel)]="colores[i]"
                  [ngModelOptions]="{standalone:true}"
                  [style.width.px]="Math.max(40, (colores[i]?.length || 0) * 9)"
                  placeholder="Color">

                <button
                  type="button"
                  class="chip-remove"
                  (click)="eliminarColor(i)">

                  <i class="fi fi-rr-cross-small"></i>

                </button>

              </div>

              <button
                type="button"
                class="add-color-btn"
                (click)="agregarColor()">

                + Color

              </button>

            </div>

          </div>

          <!-- Descripción -->
          <div class="form-group">

            <label>
              Descripción
            </label>

            <textarea
              rows="4"
              formControlName="descripcion"
              placeholder="Características especiales, uso recomendado..."></textarea>

          </div>

        </div>
        </div>


      </div>

      <!-- DERECHA -->
      <div class="right-column">

        <div class="section-card">
          <div class="section-content">

            <div class="form-group primero">
              <label>URL de Imágen</label>

            <div class="input-wrapper" [class.invalid]="form.get('imagenUrl')?.value && !esUrlValida(form.get('imagenUrl')?.value)">
              <div class="input-icon"><i class="fi fi-rr-link-alt"></i></div>
              <input type="text" formControlName="imagenUrl" placeholder="https://...">
            </div>

          </div>

          <!-- Vista previa -->
          <div class="image-preview-card">

            <ng-container *ngIf="form.get('imagenUrl')?.value; else emptyImage">

              <ng-container *ngIf="esUrlValida(form.get('imagenUrl')?.value); else invalidImage">

                <div class="image-preview">

                  <img
                    [src]="form.get('imagenUrl')?.value"
                    alt="Vista previa">

                </div>

              </ng-container>

            </ng-container>

            <ng-template #invalidImage>

              <div class="empty-preview">

                <i class="fi fi-rr-picture"></i>

                <span>URL inválida</span>

              </div>

            </ng-template>

            <ng-template #emptyImage>

              <div class="empty-preview">

                <i class="fi fi-rr-picture"></i>

                <span>Sin imagen</span>

              </div>

            </ng-template>

          </div>

          <button type="button" class="btn-remove-image" (click)="eliminarImagen()">
            <i class="fi fi-rr-trash"></i>
            Eliminar Imágen
          </button>

        </div>
        </div>

      </div>

      </div>

      <div class="extra-card espacio-arriba">
        <!-- Contenido del cuadro -->
        <div class="info-grid">

            <!-- Código -->
          <div class="info-card">
            <div class="info-card-header">
              <span>Código de Prenda</span>
              <span class="info-badge"><i [class]="modoEdicion? 'fi fi-rr-bolt-auto': 'fi fi-rr-user-robot'"></i>{{ modoEdicion ? 'Sistema' : 'Generado' }}</span>
            </div>
            <div class="info-value">
              <i class="fi fi-rr-qrcode"></i>
              <span class="info-text">{{ modoEdicion ? datosPrenda?.codigo : 'PRD-XXXXXXXX' }}</span>
              <i class="fi fi-rr-lock"></i>
            </div>
          </div>

            <!-- Fecha -->
            <div class="info-card">

              <div class="info-card-header">
                <span>Fecha de Registro</span>

                <span class="info-badge"><i class="fi fi-rr-bolt-auto"></i>Sistema</span>
              </div>

              <div class="info-value">

                <i class="fi fi-rr-calendar-day"></i>

                <span class="info-text">{{modoEdicion ? (datosPrenda?.fechaRegistro | date:'dd MMM yyyy, HH:mm') : fechaActual | date:'dd MMM yyyy, HH:mm'}}</span>
                <i class="fi fi-rr-lock"></i>

              </div>

            </div>

            <!-- Estado -->
            <div class="info-card">

              <div class="info-card-header">
                <span>Estado</span>

                <span class="info-badge"><i class="fi fi-rr-bolt-auto"></i>Sistema</span>

              </div>

              <div class="info-value">
              <i class="fi fi-rr-refresh"></i>

              <span class="info-text">{{modoEdicion ? (datosPrenda?.estado === 'SIN_LOTES' ? 'SIN LOTES' : datosPrenda?.estado) : 'SIN LOTES' }}</span>

              <i class="fi fi-rr-lock"></i>
            </div>

            </div>

            <!-- Activo -->
            <div class="info-card">

              <div class="info-card-header">
                <span>Activo</span>

                <span class="info-badge"><i class="fi fi-rr-bolt-auto"></i>Sistema</span>

              </div>

              <div class="info-value">
                <span class="switch-preview" [class.active]="!modoEdicion || datosPrenda?.estado !== 'INHABILITADA'"></span>
                <span class="info-text">{{!modoEdicion || datosPrenda?.estado !== 'INHABILITADA' ? 'True' : 'False' }}</span>
              </div>

            </div>

          </div>

      </div>

    </div>

    <!-- FOOTER -->
      <div class="app-modal-footer">

        <div class="app-modal-footer-left">

          <button type="button" class="app-btn app-btn-secondary" [disabled]="!puedeBuscar()" (click)="buscarPrenda()">

            <i class="fi fi-rr-search"></i>

            <span>Buscar</span>

          </button>

          <button type="button" class="app-btn app-btn-secondary" (click)="limpiarFormulario()">

            <i class="fi fi-rr-broom"></i>

            <span>Limpiar</span>

          </button>

        </div>

        <div class="app-modal-footer-right">

          <button
            type="button"
            class="app-btn app-btn-secondary"
            (click)="cancelar()">

            <i class="fi fi-rr-cross-small"></i>

            <span>
        Cancelar
      </span>

          </button>

          <button
            type="button"
            class="app-btn app-btn-primary"
            (click)="guardar()">

            <i class="fi fi-rr-disk"></i>

            <span>
        {{ modoEdicion ? 'Actualizar Prenda' : 'Registrar Prenda' }}
      </span>

          </button>

        </div>

      </div>
    </form>

  </div>

</div>
