<div class="kpis-grid">

  <div class="kpi-card">

    <div class="kpi-header">

      <span class="kpi-title">
        Total prendas
      </span>

      <div class="kpi-icon-box">
        <i class="fi fi-bs-shirt-long-sleeve"></i>
      </div>

    </div>

    <div class="kpi-value">
      {{ kpis?.totalPrendas }}
    </div>

    <div class="kpi-footer positive">
      +{{ kpis?.prendasUltimoMes }} registradas este mes
    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-header">

      <span class="kpi-title">
        Disponibles
      </span>

      <div class="kpi-icon-box success">
        <i class="fi fi-br-check-circle"></i>
      </div>

    </div>

    <div class="kpi-value">
      {{ kpis?.prendasDisponibles }}
    </div>

    <div class="kpi-footer positive">
      +{{ kpis?.disponiblesUltimaSemana }} esta semana
    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-header">

      <span class="kpi-title">
        Agotadas
      </span>

      <div class="kpi-icon-box danger">
        <i class="fi fi-br-cross-circle"></i>
      </div>

    </div>

    <div class="kpi-value">
      {{ kpis?.prendasAgotadas }}
    </div>

    <div class="kpi-footer negative">
      {{ kpis?.agotadasUltimaSemana }} esta semana
    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-header">

      <span class="kpi-title">
        Lotes activos
      </span>

      <div class="kpi-icon-box warning">
        <i class="fi fi-br-box-open-full"></i>
      </div>

    </div>

    <div class="kpi-value">
      {{ kpis?.lotesActivos }}
    </div>

    <div class="kpi-footer positive">
      +{{ kpis?.lotesUltimoMes }} nuevos este mes
    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-header">

      <span class="kpi-title">
        Valor inventario
      </span>

      <div class="kpi-icon-box money">
        <i class="fi fi-br-sack-dollar"></i>
      </div>

    </div>

    <div class="kpi-value">
      S/ {{ kpis?.valorTotalInventario | number:'1.0-0' }}
    </div>

    <div class="kpi-footer positive">
      S/ {{ kpis?.inversionUltimoMes | number:'1.0-0' }} este mes
    </div>

  </div>

</div>
