<div class="kpis-grid">

  <div class="kpi-card">

    <div class="kpi-top">

      <div class="kpi-icon-box">
        <i class="fi fi-bs-shirt-long-sleeve"></i>
      </div>

      <div class="kpi-info">

        <span class="kpi-title">
          Total prendas
        </span>

        <h2 class="kpi-value">
          {{ kpis.totalPrendas }}
        </h2>

      </div>

    </div>

    <div class="kpi-bottom positive">

      <mat-icon>trending_up</mat-icon>

      <span>
        +{{ kpis.prendasUltimoMes }}
        registradas el último mes
      </span>

    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-top">

      <div class="kpi-icon-box success">
        <i class="fi fi-br-check-circle"></i>
      </div>

      <div class="kpi-info">

        <span class="kpi-title">
          Disponibles
        </span>

        <h2 class="kpi-value">
          {{ kpis.prendasDisponibles }}
        </h2>

      </div>

    </div>

    <div class="kpi-bottom positive">

      <mat-icon>trending_up</mat-icon>

      <span>
        +{{ kpis.disponiblesUltimaSemana }}
        disponibles esta semana
      </span>

    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-top">

      <div class="kpi-icon-box danger">
        <i class="fi fi-br-cross-circle"></i>
      </div>

      <div class="kpi-info">

        <span class="kpi-title">
          Agotadas
        </span>

        <h2 class="kpi-value">
          {{ kpis.prendasAgotadas }}
        </h2>

      </div>

    </div>

    <div class="kpi-bottom negative">

      <mat-icon>trending_down</mat-icon>

      <span>
        {{ kpis.agotadasUltimaSemana }}
        agotadas esta semana
      </span>

    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-top">

      <div class="kpi-icon-box warning">
        <i class="fi fi-br-box-open-full"></i>
      </div>

      <div class="kpi-info">

        <span class="kpi-title">
          Lotes activos
        </span>

        <h2 class="kpi-value">
          {{ kpis.lotesActivos }}
        </h2>

      </div>

    </div>

    <div class="kpi-bottom positive">

      <mat-icon>trending_up</mat-icon>

      <span>
        +{{ kpis.lotesUltimoMes }}
        registrados el último mes
      </span>

    </div>

  </div>

  <div class="kpi-card">

    <div class="kpi-top">

      <div class="kpi-icon-box money">
        <i class="fi fi-br-sack-dollar"></i>
      </div>

      <div class="kpi-info">

        <span class="kpi-title">
          Valor inventario
        </span>

        <h2 class="kpi-value">
          S/{{ kpis.valorTotalInventario | number:'1.2-2' }}
        </h2>

      </div>

    </div>

    <div class="kpi-bottom positive">

      <mat-icon>trending_up</mat-icon>

      <span>
        S/{{ kpis.inversionUltimoMes | number:'1.2-2' }}
        inversión del último mes
      </span>

    </div>

  </div>

</div>
