.main-layout{
  margin-left:72px;
  min-height:100vh;
  background:#F8F8FA;
  position:relative;
  transition:margin-left .32s ease;
}

.main-layout.expanded{
  margin-left:230px;
}

.page-content{
  padding:25px;
  transition:margin-right .35s ease;
}

.page-content.right-expanded{
  margin-right:380px;
}
