<div class="prenda-header">

  <div class="header-left">

    <div class="header-badge">
      <i class="fi fi-bs-shirt-long-sleeve"></i>
      <span>Gestión Textil</span>
    </div>

    <div class="header-title">

      <h1>
        Catálogo de Prendas
      </h1>

      <p>
        Administra prendas, lotes e inventario operativo
      </p>

    </div>

  </div>

  <div class="header-right">

    <button class="btn-secondary">

      <i class="fi fi-br-download"></i>

      <span>
        Exportar
      </span>

    </button>

    <button
      class="btn-primary"
      (click)="abrirModalPrenda()"
    >

      <i class="fi fi-br-plus"></i>

      <span>
        Nueva Prenda
      </span>

    </button>

  </div>

</div>
