<div class="prenda-header">

  <div class="header-left">

    <div class="header-title">

      <h1>
        Administración de Prendas
      </h1>

      <p>
        Gestiona el catálogo textil, sus características y su disponibilidad operativa.
      </p>

    </div>

  </div>

  <div class="header-right">

    <button
      type="button"
      class="btn-secondary">

      <i class="fi fi-br-download"></i>

      <span>
        Exportar
      </span>

    </button>

    <button
      type="button"
      class="btn-primary"
      (click)="abrirModalPrenda()">

      <i class="fi fi-br-plus"></i>

      <span>
        Nueva Prenda
      </span>

    </button>

  </div>

</div>
